[package]
name = "tokio-centrifuge"
version = "0.1.0"
edition = "2021"

[[example]]
name = "test"
path = "examples/test.rs"
required-features = ["examples"]

[dependencies]
anyhow = "1.0.82"
async-tungstenite = { version = "0.25.0", features = ["tokio-runtime", "tokio-native-tls"] }
futures = "0.3.30"
log = "0.4.21"
prost = "0.12.4"
serde = { version = "1.0.200", features = ["derive"] }
serde_json = "1.0.116"
simple_logger = { version = "5.0.0", optional = true }
slotmap = "1.0.7"
thiserror = "1.0.59"
tokio = { version = "1.32.0", features = ["rt", "sync"] }

[features]
examples = ["tokio/full", "simple_logger"]
